
 
   

.logo {
  height: 60px;

  border-radius: 50%;

}





.service{
  text-align: center;
  background-color: #1475e3;
background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%);
margin-left: 50px;
padding: 20px;
font-size: 60px;

}

.service:hover{
  transform:translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  

}


.div{
  background-image: linear-gradient(120deg, #e6d2f7 0%, #b0d4f4 100%);
  /* background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%); */

}


   
    .your{
      text-align: center;
      margin: 20px;
      background: -webkit-linear-gradient(#ef50fb, #731b5a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    font-size: 50px;
    
    }
  
  
   .Doctors{
      /* background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%); */
   background-image: linear-gradient(120deg, #e6d2f7 0%, #b0d4f4 100%)
   ;

   }

.col-md-6{
  background-color: #eaf1f9;
  background-image: linear-gradient(120deg, #e6d2f7 0%, #b0d4f4 100%);
/* background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%); */
}


.card-1{

  display: inline-block;
  margin: 20px;
  padding: 20px;

}
 
       

        .img-d{
            height: 40px;
            /* border-radius: 50%; */
            text-align: center;
            border-radius: 50%;
        }
        body {
                font-family: Arial, sans-serif;
                 margin: 0;
                 padding: 0;
                 background-color: #f4f4f4;
                
               background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%);
}
header {
  background: linear-gradient(to right, #333, #666);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
nav {
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}
nav a {
  padding: 0 15px;
  text-decoration: none;

  transition: color 0.3s ease;
  background-color: #eaf1f9;
background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%);
}
nav a:hover {
  
  background-color: #eaf1f9;
background-image: linear-gradient(62deg, #eaf1f9 0%, #eeebf0 100%);
}
section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-child {
 
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 300px;
  animation: fadeIn 0.5s ease-in-out; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.main-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-child:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;

}
h2 {
  color: #333;
  margin-bottom: 10px;
}
p {
  color: #666;
  margin-bottom: 20px;
}



 

.card:hover{
  transform: scale(1.04);
 
}

  .card{
    width: 400px;
 transition: 1s;
  margin: 20px;
  padding: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* display: flex;
  flex-wrap: wrap;
  */
  
}

.card-container{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
}





 /* footer */


.footer-body {

  padding: 0 20px;

}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}



.f-logo{
  display: inline-block;
  
}

.f-info{
  text-align: justify;
}

.footer-child{
  margin-top: 50px;
  padding: 10px;
  width: 350px;
}



.footer-icon{
  height: 40px;
  margin: 40px 30px;
  text-align: center;
  border-radius: 50%;
}

.footer-icon:hover{
  box-shadow: 5px 5px 5px rgb(53, 50, 50);
  border-radius: 50%;
  transform: scale(1.1);


}

.list-icon{
  margin: 10px;
  text-decoration: none;
  color: black;
}


